body {
padding-left: 11em;
background-color: black;
cursor: crosshair;
margin-left: 100px;
margin-right: 100px;
font-family: 'Courier New', Courier, monospace;
color:rgb(44, 182, 58);

}

#name {
    color:rgb(44, 182, 58);
    font-style: initial;
}

#contact {
  /*figure out how to change background image for certain sections*/
  background-image:url("FSI-Build-a-Portfolio\images\matriz.jpg");
  background-color: #cccccc;
    margin-left:400px;
    margin-right: 400px;
    border-style: dashed;
    border-color: rgb(93, 215, 105);
}

hr {
    border:2px dotted green
}


/* Code from the internet i tried but didn't work
    background-image: url("FSI-Build-a-Portfolio\images\matriz.jpg");
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100vh; */