body {
font-family: 'Courier New', Courier, monospace;
background-color: black;
color:rgb(44, 182, 58);

}

#title {
    color:rgb(4, 72, 91);
}

#name {
    color:rgb(44, 182, 58);
    font-style: initial;
}

#contact {
    border-style: dashed;
    border-color: rgb(93, 215, 105);
}
    